
@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Order List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

                <div class="row">




                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>

                                <tr role="row">
                                    <th rowspan="1" colspan="1">Customer ID</th>
                                    <th rowspan="1" colspan="1">Order NO</th>
                                    <th rowspan="1" colspan="1">Order Date</th>
                                    <th rowspan="1" colspan="1">Status</th>
                                    <th rowspan="1" colspan="1">Location </th>
                                    <th rowspan="1" colspan="1">Food Id</th>
                                    <th rowspan="1" colspan="1">Quantity</th>
                                </tr>

                            </thead>
                            <tfoot>
                                <tr role="row">
                                    <th rowspan="1" colspan="1">Customer ID</th>
                                    <th rowspan="1" colspan="1">Order NO</th>
                                    <th rowspan="1" colspan="1">Order Date</th>
                                    <th rowspan="1" colspan="1">Status</th>
                                    <th rowspan="1" colspan="1">Location </th>
                                    <th rowspan="1" colspan="1">Food Id</th>
                                    <th rowspan="1" colspan="1">Quantity</th>
                                </tr>

                            </tfoot>
                            <tbody>
                                <tr role="row" class="odd">
                                    <td>1</td>
                                    <td>101 </td>
                                    <td>2-8-2019</td>
                                    <td>Complete</td>
                                    <td>Gulshan-e-Iqbal</td>
                                    <td>110</td>
                                    <td>1</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>1</td>
                                    <td>101 </td>
                                    <td>2-8-2019</td>
                                    <td>Complete</td>
                                    <td>Gulshan-e-Iqbal</td>
                                    <td>110</td>
                                    <td>1</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>1</td>
                                    <td>101 </td>
                                    <td>2-8-2019</td>
                                    <td>Complete</td>
                                    <td>Gulshan-e-Iqbal</td>
                                    <td>110</td>
                                    <td>1</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>1</td>
                                    <td>101 </td>
                                    <td>2-8-2019</td>
                                    <td>Complete</td>
                                    <td>Gulshan-e-Iqbal</td>
                                    <td>110</td>
                                    <td>1</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>1</td>
                                    <td>101 </td>
                                    <td>2-8-2019</td>
                                    <td>Complete</td>
                                    <td>Gulshan-e-Iqbal</td>
                                    <td>110</td>
                                    <td>1</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>1</td>
                                    <td>101 </td>
                                    <td>2-8-2019</td>
                                    <td>Complete</td>
                                    <td>Gulshan-e-Iqbal</td>
                                    <td>110</td>
                                    <td>1</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>1</td>
                                    <td>101 </td>
                                    <td>2-8-2019</td>
                                    <td>Complete</td>
                                    <td>Gulshan-e-Iqbal</td>
                                    <td>110</td>
                                    <td>1</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>1</td>
                                    <td>101 </td>
                                    <td>2-8-2019</td>
                                    <td>Complete</td>
                                    <td>Gulshan-e-Iqbal</td>
                                    <td>110</td>
                                    <td>1</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>1</td>
                                    <td>101 </td>
                                    <td>2-8-2019</td>
                                    <td>Complete</td>
                                    <td>Gulshan-e-Iqbal</td>
                                    <td>110</td>
                                    <td>1</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>1</td>
                                    <td>101 </td>
                                    <td>2-8-2019</td>
                                    <td>Complete</td>
                                    <td>Gulshan-e-Iqbal</td>
                                    <td>110</td>
                                    <td>1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

